## Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia
os:
  - linux

julia:
  - 1.4

notifications:
  email: false

script:
  - git clone https://github.com/JuliaPOMDP/Registry  $(julia -e 'import Pkg; println(joinpath(Pkg.depots1(), "registries", "JuliaPOMDP"))')
  - julia -e 'using Pkg; Pkg.add(PackageSpec(url="https://github.com/sisl/POMDPPlayback.jl"))'
  - julia -e 'using Pkg; Pkg.build(); Pkg.test(coverage = true)'
after_success:
  - julia -e 'using Pkg; Pkg.add("Coverage"); using Coverage; Codecov.submit(process_folder()); Coveralls.submit(process_folder())'
